* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #111827, #020617);
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 90px; /* 👈 navbar height */
}